{% extends 'base.html' %}

{%block title %}
    {{ InEvent }}
{% endblock %}

{% block heading %}
    <div id="base_heading_participant">
        Participation Registration Form
    </div>
{% endblock %}

{%block content %}
    <div>
        <button class="back_btn"  onclick="location.href='/participant_registration'">Back</button>
    </div>

    <div id="create_participant_base_content">

     <form action="/participant_creation" method="POST">
        {% csrf_token %}

        <div class="standard_form_input">
            <label class="create_participant_form_label"> Event Name: </label>
            <input readonly type="text" name = "PEName" value="{{ InEvent }}"><br>
        </div>

        <div class="standard_form_input">
            <label class="create_participant_form_label"> Participant Name: </label>
            <input type="text" name="Pname" required> <br>
        </div>

         <div class="standard_form_input">
            <label class="create_participant_form_label"> Contact Number: </label>
            <input type="text" name="Pcontact" required> <br>
        </div>

         <div class="standard_form_input">
            <label class="create_participant_form_label"> Email: </label>
            <input type="email" name="Pmail" required> <br>
        </div>

         <div class="standard_form_input">
            <label class="create_participant_form_label">Registration Type: </label>
            <input type="radio" name="RegType" value="I" onclick="document.getElementById('Ginput').style.visibility='hidden'"checked>
            <label class="form_label"> Individual</label><br>
             <label class="create_participant_form_label"></label>
            <input type="radio" name="RegType"  onclick="document.getElementById('Ginput').style.visibility='visible'" value="G">
            <label> Group</label><br>
        </div>

        <div class="standard_form_input" id="Ginput">
            <label class="create_participant_form_label">Participant count</label>
            <input type = "number"  name="Pnum"  min="2">
        </div>

         <div class="submit_btn_div">
             <input id = "participant_submit_btn" type="submit">
        </div>


    </form>
    </div>
{% endblock %}