{% extends 'base.html' %}

{%block title %}
    {{ Event}}
{% endblock %}

{% block heading %}
    <div id="base_heading">
       {% if isEmpty %}
            No Registrations Yet...
       {% else %}
            Registrations
       {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div>
        <button class="back_btn"  onclick="location.href='/host_login_page'">Back</button>
    </div>

    <div id="table_content">

    {% if isEmpty %}

    {% else %}
        <div id ="participant_table" align="center">
            <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Participant Type</th>
                <th>Participation Count</th>
            </tr>
            {% for participant in participants %}
                <tr>
                    <td> {{ participant.id }}</td>
                    <td> {{ participant.ParticipantName }}</td>
                    <td> {{ participant.ParticipantContact }}</td>
                    <td> {{ participant.ParticipantEmail }}</td>
                    {% if participant.ParticipantCount == 1 %}
                        <td> Individual</td>
                    {% else %}
                        <td> Group </td>
                    {%  endif%}
                    <td> {{ participant.ParticipantCount }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    {% endif %}
    </div>
{% endblock %}