{% extends 'base.html' %}

{% block title %}
    Event Registration
{% endblock %}

{% block content%}
    <form action="event_creation" method="POST">
        {% csrf_token %}

        <label> Event Name: </label>
        <input type="text" name="Ename" required><br>

        <label> Event Description: </label>
        <input type="text" name="Edesc" required> <br>

        <label> Event Start: </label>
        <input type="datetime-local" name="Estart" required> <br>

        <label> Event End: </label>
        <input type="datetime-local" name="Eend" required> <br>

        <label> Registration Deadline: </label>
        <input type="datetime-local" name="ERegdead" required> <br>

        <label> Host email: </label>
        <input type="email" name="EHmail" required> <br>

        <label> Host Password: </label>
        <input type="password" name="EHpwd" required> <br>

        {#  <label> Event Poster: </label> #}
        {#<input type="file" name="Eposter" accept="/image"> <br>#}

        <input type="submit">


    </form>
{% endblock %}