<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Management</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>
            Event Management WebApp
        </h1>
        <button type="index_page" onclick="location.href='event_registration'">
            Event Registration
        </button>
        <button type="index_page" onclick="location.href='participant_registration'">
            Participant Registration
        </button>
        <button type="index_page" onclick="location.href='host_login_page'">
            Event Dashboard
        </button>
    </div>

</body>
</html>