<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link href="{% static '/style.css' %}" rel="stylesheet">
    <link rel="icon" href="data:,">
    <title>Event Management</title>
</head>
<body id="index_background">

    <div id="primary_div">
        <div  id="index_heading">
                Event Management WebApp
        </div>
        <div id = "index_button_div">
            <button  onclick="location.href='event_registration'" id="index_btn1" class="index_button">
                Event Registration
            </button>
            <button  onclick="location.href='participant_registration'" id="index_btn2" class="index_button">
                Participant Registration
            </button>
            <button  onclick="location.href='host_login_page'" id="index_btn3" class="index_button">
                Event Dashboard
            </button>
        </div>
    </div>

</body>
</html>